@import url('admin.css');

#myRentsTable {
    width: 100%;
}

/* customer.css */


.container {
    display: flex;
    max-width: 1400px;
}

.table-section {
    flex: 7.5;
    /* 70% of the container */
    box-sizing: border-box;
}

.form-section {
    flex: 2.5;
    /* 30% of the container */
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;

}


form {
    position: fixed;
    width: 350px;
    border-collapse: collapse;
    max-height: 500px;
    margin-bottom: 50px;
    background: linear-gradient(to right, #52a8e1, #2c3e50);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}


.form-group,
.form-group1 {
    display: flex;
    align-items: center;
}


.form-group label,
.form-group select,
.form-group input {
    flex: 1;
    margin-right: 10px;
    border: none;
    border-radius: 12px;
    outline: none;
    color: #2471a4;
}

.form-group label {
    color: white;
}

input {
    width: 70%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

select {
    width: 190px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#filter_button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


#filter_button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#filter_button:hover {
    background-color: #39873c;
}

.price-container {
    background: linear-gradient(to right, #2196F3, #1d201d);
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
}

.price {
    font-size: 18px;
}